[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    .eggs,
    *.egg,
    venv,
    .venv,
    static,
    i18n,
    docker
extend-ignore =
    W503,
    W504
per-file-ignores =
    __init__.py:F401
    __manifest__.py:E501
